.app-content {
  background-color: #f7f7f7;
  min-height: 100vh;
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

.form-error {
  color: red;
  font-size: 12px;
}

/*Overriding styles of libraries*/
table {
  border: 1px solid lightgrey;
  margin-bottom: unset !important;
}

.MuiTablePagination-root {
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}